{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-recess-order"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "block-no-empty": "true",
    "comment-no-empty": "true",
  }
}