::placeholder {
  color: blue;
}

:root {
  --color-primary: red;
}

span {
  display: grid;
  font-size: 18px;
  color: var(--color-primary);
}

div {
  font-size: 18px;
  color: var(--color-primary);
  display: grid;
}

span {
  font-size: 18px;
  position: relative;
  display: grid;
}

.id {
  font-size: 18px;
  position: relative;
  display: grid;
}
